<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <% styles.forEach(function(file){ %>
        <link href="<%= file %>" rel="stylesheet" type="text/css"/>
         <%});%>
        <!-- templated the JS files so that we would n't need to maintain a manifest of script files -->
        <% scripts.forEach(function(file){ %>
        <script type="text/javascript" src="<%= file %>"></script>
        
        <%});%>
    </head>
    <body>
        <div ui-view>
            
        </div>
       
    </body>
</html>
