# For .213 and Siva Mac Below is the htaccess file
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^.*$ index.php/$0 [B,L] 

# if the above htaccess don't work try the below htaccess works for matt,robbie  and other mac 
# RewriteEngine on
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L] 